
.shop_category {
    position: relative;
    z-index: 17;
    display: grid;
    grid-template-columns: minmax(200px, 25%) 1fr;

    .sidebar {
        align-self: start;
        margin-right: clamp(0.625rem, 0.25rem + 0.78vw, 1rem);
        border-radius: 7px;
        background-color: #151515;
        padding: clamp(1.25rem, 0.955rem + 1.35vw, 2.25rem) clamp(0.813rem, 0.628rem + 0.84vw, 1.438rem);
        min-height: 50vw;

        &:hover {
            border: 1px solid #373737;
            background-color: #1c1b1b;
        }

        .small_heading {
            text-transform: none !important;
        }

        form {
            margin-left: 1.2vw;

            label {
                margin-bottom: 0.5vw;
            }
        }
    }
}

.shop_filter_checks label{
    display: block;
}
