

.order_cart_profile {
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 15px;
    background-color: #151515;
    padding: clamp(0.75rem, 0.572rem + 0.84vw, 1.375rem);
    padding-right: clamp(1.2rem, 0.572rem + 0.84vw, 2.5rem);

    .item_img_wrapper {
        padding-bottom: 100%;
        z-index: 6;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        min-width: 100%;
        border-radius: 7px;

        .item_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.2s ease-in-out;
        }
    }

    .order_item_name {
        padding: clamp(0.75rem, 0.519rem + 1.09vw, 1.563rem) clamp(0.438rem, 0.384rem + 0.25vw, 0.625rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: clamp(1rem, 0.929rem + 0.33vw, 1.25rem);
        line-height: clamp(1rem, 0.929rem + 0.33vw, 1.25rem);

        .item_info {
            font-family: "Raleway";

            .price {
                font-family: "Oswald";
            }

            .input_number{
                display: flex;
                align-items: center;

                span{
                    margin: 0 1.5%;
                }

                .decrement, .increment{
                    color:#821313;
                    font-size: 24px;
                    font-weight: 600;
                    border: 2px solid #821313;
                    border-radius: 100%;
                    width: 30px; 
                    height: 30px;
                    gap: 20px;

                    &:disabled{
                        color:#202020;
                        border: 2px solid #202020;
                    }
                }
            }       
        }

        .order_date {
            color: #5c5c5c;
        }
    }

    .order_info {
        background-color: #202020;
        border-radius: 7px;
        padding: clamp(0.75rem, 0.643rem + 0.5vw, 1.125rem);

        .info_text {
            font-size: 14px;
            color: white;

            .pay_status {
                font-family: "Museo700";
                border-radius: 7px;
                background-color: #19A827;
                padding: 7px 20px;
                display: inline-block;
            }
        }
    }
}