@import './components/all';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    height: 100%;
    background-color: #0E0E0E;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.heading {
    font-size: clamp(1.875rem, 1.249rem + 1.3vw, 2.5rem);
    line-height: clamp(1.875rem, 1.249rem + 1.3vw, 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}

.small_heading {
    font-size: clamp(1.25rem, 1.037rem + 1vw, 2rem);
    line-height: clamp(1.25rem, 1.037rem + 1vw, 2rem);
    font-weight: 700;
}

.txt32 {
    font-size: 24px;
}

.end_block {
    margin-bottom: 120px;
}

.end_block1 {
    opacity: 0;
    transform: translateY(100px);
    margin-bottom: 120px;
}

.end_block1.element_show {
    opacity: 1;
    transition: all 0.4s;
    transform: translateY(0%);
}

.wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1535px;
    padding: 0 13px;
    margin: 0 auto;
}

.a_btn {
    transition: all 0.2s;
    border: none;
    background-color: #821313;
    border-radius: 7px;
    text-transform: uppercase;
    color: white;
    padding: clamp(0.438rem, 0.187rem + 0.52vw, 0.688rem) clamp(1.688rem, 0.248rem + 3vw, 3.125rem);
    font-size: clamp(0.688rem, 0.375rem + 0.65vw, 1rem);

    &:hover {
        background-color: #520909;
    }
}


/* SHOP page */
.profile_background_img {
    min-height: 50vh !important;
}

.intro_img {
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 40rem;
}

.intro_img_photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(60%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    object-fit: cover;
}

.shop_head {
    p {
        text-transform: uppercase !important;
    }
}

.shop_bg {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .intro_img_photo {
        filter: brightness(100%) !important;
    }
}

.shop_section {
    margin-bottom: clamp(2.5rem, -0.003rem + 5.22vw, 5rem);
    position: relative;
    z-index: 10;
}
