@media (max-width: 1199px) {
    .logo_text {
      display: none;
    }

    .header_content{
        nav{
            ul{
                padding-left: 0;
            }
        }
    }
  }

  @media (max-width: 767px) {
    .header_content{
        .navigation{
            display: none;
        }
    }

    .menu_btn{
        display: block;
    }
    
    // #INTRO //
    .intro_img {
        overflow: visible;
        height: 40rem; 
        min-height: 200px;
        z-index: 2;
        .intro_img_photo {
            width: 100%;
            object-fit: cover;
        }
    }
  
    .intro_news_block {
      width: 100%;
      margin-top: 20px;
      height: 40rem;
  
      .intro_news {
        position: absolute;
        z-index: 7;
        flex-direction: column;
        width: 100%;
        margin-top: 0;
  
        &_wrapper {
          flex-direction: row;
          width: 100%;
          order: 1;
          gap: 1vw;
          position: relative;
            z-index: 0;
  
          .one_news {
            flex: 1;
            height: 9rem;
            margin-top: 0;
  
            img {
              min-width: 100%;
              height: 100%;
              object-fit: cover;
            }
            p{
                font-size: 10px;
            }
          }
        }
      }
    }

    .personal_info{
        padding: clamp(0.938rem, 0.191rem + 3.51vw, 1.875rem) 0;
    }

}

@media (max-width: 600px) {
    .profile_background_img{
        height: 30vh !important;
    } 
}
  
  @media (max-width: 500px) {
    .menu_container{
        right: -100vw;
        width: 100vw;
    }
  }